@use '@carbon/react';
@use '@carbon/react/scss/spacing' as *;

.App {
  text-align: left;
  margin-top: 15px;
  margin-bottom: 20px;
  padding: $spacing-04; 
}

.SearchBar {
  display: flex;
  justify-content: flex-start; 
  margin-bottom: $spacing-04; 
}

.SearchBar_ {
  margin-right: $spacing-02; 
}

.SearchBar__button {
  margin-left: $spacing-01; 
  color: #110f0f;
}

.SearchButton {
  font-weight: bold;
}

.SearchBar__list {
  margin-top: $spacing-04; 
}

.book-item {
  margin-bottom: $spacing-02;
  padding: $spacing-05;
  border: 1px solid #efe8e8; 
}

.no-books {
  margin-bottom: $spacing-02;
  padding: $spacing-02;
}
