@use '@carbon/react';
@use '@carbon/react/scss/spacing' as *;

.App {
  text-align: left;
  margin-top: 15px;
  margin-bottom: 20px;
  padding: $spacing-04;
  padding-bottom: 60%;
}

.SearchBar {
  display: flex;
  justify-content: flex-start;
  margin-bottom: $spacing-04;
  margin-top: $spacing-07;
}

.SearchBar__input {
  flex: 1; 
}

.SearchBar__button {
  margin-left: $spacing-05;
  color: #060606;
  text-align: left;
  size: 0cap;
}

.SearchButton {
  font-weight: 100;
  text-align: left;
}

.SearchBar__list {
  margin-top: $spacing-02;
}

.book-item {
  margin-bottom: $spacing-02;
  padding: $spacing-05;
  border: 1px solid #fcf8f8;
  text-decoration: none; 
  color: #000; 
  display:flex;
  align-items: center;
  margin-top: $spacing-01;
}

.book-name {
  font-size: 1.4rem; 
  font-weight: 700;
}

.book-details {
  margin-top: $spacing-01;
}

.no-books {
  margin-bottom: $spacing-02;
  padding: $spacing-02;
}
