@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/type' as *;

.BookPage_title {
//   margin-top: $spacing-05;
 margin-bottom: $spacing-03;
//  margin-left: $spacing-07;
}
.Book-src{
   max-width: 100%;
   height: auto;
   object-fit: cover !important;
   margin-top: $spacing-06;
}
.author_book {
   // margin-left: $spacing-07;
   margin-bottom: $spacing-06;
}

// .book-cover {
//    //  padding-left: $spacing-03;
//     margin-left: $spacing-03;
//    margin-top: $spacing-06;
//     max-height: 450px;
//    object-fit: cover !important;
//    max-width: 100%;
// }


// .Description {
//    margin-bottom: $spacing-06;
//    // margin-left: $spacing-07;
// }

.book-subjects {
 margin-bottom: $spacing-06;
//  margin-left: $spacing-07;
 
}
 
 .BookPage{
   margin-top: $spacing-05;
   margin-bottom: $spacing-04;
 
 }
.Book__{
   margin-left: 0;
}
