@use '@carbon/react';
@use '@carbon/react/scss/spacing' as *;

.book-details {
  display: flex;
  flex-direction: column; 
}

.book-title {
  font-size: 50px; 
  font-style: oblique;
  margin-top: $spacing-03;
  margin-bottom: $spacing-02;
  color: black;
  font-weight: bolder;
  margin-left: $spacing-01;
}

.book-cover {
  margin: $spacing-05; 
  margin-left: $spacing-01;
  margin-top: $spacing-06;
}

.Subjects,
.Description,
.header {
  padding-top: $spacing-05;
  padding-bottom: $spacing-05;
  margin-left: $spacing-02;
  border: 1px solid rgb(253, 253, 253);
}

.BookPage__author {
  margin-top: $spacing-02;
  color: #403c3c; 
  font-size:xx-small;
}
.book-description {
   //can add styling
}

.book-subjects {
 //can add some styling
}
 
 .BookInfoContainer {
  width: 100%;
  max-width: 100%;
 }
